.content_container {
    margin: 6em 0 0 0;
}

#articles-list {

}

.article-edit-delete li {
    list-style-type: none;
    margin: 0;
    display: inline;
}

.blog-post {
    border-radius: 1.5em;
    // border: 1px solid gray;
    box-shadow: 0px 15px 10px -15px #111;
    padding: 5em;
    margin-bottom: 3em;
}

.comments {
    margin: 3em 0 3em 0;
}
